//font imports
@font-face {
    font-family: "Overpass Light";
    src: url("/fonts/Overpass-Light.ttf");
  }
@font-face {
    font-family: "Overpass Bold";
    src: url(/fonts/Overpass-Bold.ttf);
}



@mixin centercontent {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

@mixin row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    
}

* {
    margin: 0px;
    color: aliceblue;
}
.top {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2vh;
}
.column {
    align-items: center;

}

body {
    background-image: url("/icons&background/BACKGROUND (1).png");
    background-size: cover;
    background-attachment: fixed;
    max-height: 100vh;
}

footer {
    font-family: "Overpass Light";
    src: url("/fonts/Overpass-Light.ttf");
    font-size: 1vh;
    max-height: 0;
    text-align: center;
    
}

.social {
    display: flex;
    justify-content: space-between;

}

.logo {
    width: 12vw;
}

.icon {
    width: 2vw;
    padding-right: 2vw;
}

.menuicon {
    width: 2vw;
    padding-left: 10vw;

}


//----------------------- MAIN ------------------------------------

main {
    height: 90vh;
}

.some-page-wrapper {
    background-color: none;

}

.row {
    @include row();

}

.leftcolumn {
    width: 200vw;
}

.col1row1 {
    @include centercontent();
    @include row();
    height: 20vh;
    min-height: 20vh;

}

.col1row2 {
    @include centercontent();
    @include row();
    height: 5vh;
    min-height: 5vh;

    
}

.col1row3 {
    @include centercontent();
    @include row();
    height: 20vh;
    min-height: 20vh;
    
}

.col1row4 {
    @include centercontent();
    @include row();
    height: 6vh;
    min-height: 6vh;
    
}


.tryitoutbutton {
    font-size: 1vw;
    font-family: "Overpass Light";
    src: url("/fonts/Overpass-Light.ttf");
    background-color: #E11F26;
    border: 0px;
    width: 12.5vw;
    height: 5vh;
    border-radius: 50px;

}
.tryitoutbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.maincolumn {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.text {
    @include centercontent();
    font-size: 3.2vh;
    padding-left: 5vw;
    padding-right: 5vw;
    font-family: "Overpass Light";
    src: url("/fonts/Overpass-Light.ttf");
    color: #A9A9A9;

}

.header {
    color: #D2D2D2;
    font-size: 5vh;
    font-family: "Overpass Bold";
    src: url("/fonts/Overpass-Bold.ttf");
}

.right-column {
    height: 92vh;
    background-image: url("/icons&background/coctail.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}


@media screen and (max-width: 1200px) {
    div.right-column {
      display: none;
      
    }
    div.col1row1 {
        width: 100vw;
        }
    div.col1row2 {
        width: 100vw;
        }
    div.col1row3 {
        width: 100vw;
        }
    div.col1row4 {
        width: 100vw;
        }
    div.text {
        max-width: none;
    }
    div.tryitoutbutton {
        width: 40vw;
        height: 10vh;
    }
  }



  
